.button-group {
    display: flex;
    gap: 10px;
    margin-top: px;
  }
  
  .button-group button {
    background-color: #07304E;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button-group button:hover {
    padding: 0 0 0 10px;
    background-color: #0056b3;
  }
  /* 6DCA99 */